section.featured {
    background: linear-gradient(rgba(44, 62, 80, 0) 0%,rgba(44, 62, 80, 0) 50%, rgba(44, 62, 80, 0.4) 75%, rgba(44, 62, 80, 0.7) 100%),
    url(../img/brochure/Marigold.JPG); /*url(../img/brochure/Marigold.JPG);*/
}

.featured>.container>.row>.col-md-6>.align-center>p {
    font-size: 20px;
    font-weight: normal;
}

#testimonials {
    background-image: url('../img/brochure/Cucumber/0A. General.JPG');
    background-size:   cover;
    background-repeat: no-repeat;
}

#parallax1 {
    background-image: url(../img/brochure/Chilli/General-1.JPG);
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
}

#parallax2 {
    background-image: url(../img/brochure/Tomato/General.JPG);
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
}
